{{ include "dot_config/sheldon/plugin_sources/common.toml" }}
{{- if eq .system "client" }}
{{-   if eq .chezmoi.os "darwin" }}
{{      include "dot_config/sheldon/plugin_sources/client/macos.toml" }}
{{-   else if eq .chezmoi.os "linux" }}
{{      include "dot_config/sheldon/plugin_sources/client/ubuntu.toml" }}
{{-   end }}
{{- end -}}
